{% extends 'base.html' %}

{% block contents %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Map</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=cr3wwqj8vp"></script>
</head>

<body>
    <br>
    <div class="container">
        <h2>NAVER</h2>
        <div id="map" style="width:100%;height:400px;"></div>
        <br><br>
        <h2>SangMyung Univ.</h2>
        <div id="map2" style="width:100%;height:400px;"></div>
        <br><br>
    </div>

    <script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 15
    };
    var map = new naver.maps.Map('map', mapOptions);


    var map2 = new naver.maps.Map('map2', {
        center: new naver.maps.LatLng(37.602638,126.955252),
        zoom: 16
    });

    var marker = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.602638,126.955252),
        map: map2
    });

    </script>
</body>
</html>

{% endblock %}